body {
    background-image: url(./img/7271.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    box-sizing: border-box;
    text-align: center;
}

.my_img {
    font-family: 'Pattaya', sans-serif;
    color: 	#FFFF00;
}

.hr {
    border: 1px solid #ffff00;
}

.main {
    margin-left: 145px;
}



.box {
    justify-content: center;
    display: flex;
    float: left;
    width: 20%;
    padding-left: 20px;
    padding-top: 15px;
}

img {
    width: 100%;
    border-radius: 10px;
}

img:hover {
    transform: scale(2,2);
    transition: 0.5s;
}
